.one {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.up {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block !important;
}

.down {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block !important;
}
